<div class="layout-topbar flex align-items-center justify-content-between p-2 md:px-3">
  <div class="flex h-full align-content-center ">
    <a>
      <img src="./assets/layout/images/top-nav-taichong.PNG" alt="prime" id="topbar-logo">
    </a>
    <div class="flex align-items-center">
      智能開戶平台
    </div>
  </div>
  <div class="flex align-content-center flex-wrap flex-column w-full absolute top-100 shadow-2 bg-white md:shadow-none md:static md:h-full md:flex-row md:w-auto">
    <div class="w-full flex flex-row flex-wrap align-items-center h-auto p-2 md:w-auto md:h-full">
      <i class="fa fa-fw fa-bank"></i>
    </div>
    <div class="w-full flex flex-row flex-wrap align-items-center h-auto p-2 md:w-auto md:h-full">
      <i class="fa fa-user"></i>
    </div>
    <div class="w-full flex flex-row flex-wrap align-items-center h-auto p-2 md:w-auto md:h-full">fffasd3</div>
  </div>
  <div class="h-full flex flex-row align-items-center md:hidden">
    <i class="pi pi-bars"></i>
  </div>
</div>

<div class="layout-main w-full h-full px-2">
  <router-outlet></router-outlet>
</div>
